* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


#middle_general {
    width: 28%;
}

#middle_container {
    width: 100%;
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    flex: wrap;
    position: relative;
}
.single h3::after {
    content: "";
    width: 7.3em;
    height: 0.15em;
    background-color: #fab702;
    position: absolute;
    top: 1.2em;
    left: 5.2em;
}

#middle_container .header_3{
    padding: 0.5em 0;
}

#middle_container .single .gift_img {
    padding: 1em 0;
    width: 100%;
    height: 30vh;
    opacity: 0.5;
}

#middle_container .single .single_des {
    width: 100%;
}

.small_article {
    margin: 1em 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: wrap;
}
.small_img {
    width: 100%;
}
 .small_img img {
    width: 50%;
    height: 20vh;
 }
 .small_des {
    width: 50%;
 }