* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}




#middle_container {
    width: 100%;
    margin: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    flex: wrap;
    position: relative;
}
.single h3::after {
    content: "";
    width: 220px;
    height: 1.7px;
    background-color: #fab702;
    position: absolute;
    top: 35px;
    left: 110px;
}

#middle_container .single img {
    /* width: 50%; */
    height: 30vh;
    opacity: 0.5;
}
#middle_container .single {
    /* width: 50%; */
}
#middle_container .single .single_des {
    /* width: 50%; */
}


/* =================================== For Health & Education Article  ============================================== */
#health_education_container{
    display: flex;
    justify-content: space-between;
    margin: 16px;
}
.article{
     width: 100%;
     margin-top: 20px;
}
.advertisement{
    width: 48%;
}
.health_title{
    color: #000;
}
.advertisement_title{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.advertise_img{
    margin-top: 20px;
}
.advertise_title{
    color: #000;
}
.article_title{
    display: flex;
    justify-content: space-between;
}
hr{
    margin: auto;
}
.edu_description{
    color: #000;
    word-spacing: 12px;
    width: 100%;
}
.edu_title{
    color: #000;
    word-spacing: 12px;
}
.article_type{
    color: #000;
    word-spacing: 12px;
}
.article_row{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-right: 16px;
}
.article_row1{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-right: 16px;
}
.article_image{
    width: 200px;
    height: 150px;
}
.article_container{
    width: 100%;
}
.article_text{
    padding-left: 16px;
}
.item {
    background-color: rgba(22, 9, 9, 0.773);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}