#main{
    margin: 30px;
    /* border: 1px solid black; */
    height: auto;   
    display: flex;
}
#left{
    width: 75%;
    padding: 20px 40px;
    border: 1px solid rgb(234, 229, 229);
    margin-right: 40px;
    border-radius: 10px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.line{
    border:none;
    background-color: grey;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    opacity: 0.25;
}
.image{
    margin-bottom: 70px;
}
.img-small{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.img-small img,.img-large img{
    box-shadow: 3px 3px 7px;
}
.amentities-item img{
    display: inline;
}
.overview h1{
    margin-bottom: 20px;
}
.amenities .amenities-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.amenities .amentities-item{
    width: 33%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.room-rule .part1{
    display: flex;
    justify-content: space-around;
    margin: 25px 0px;
}
.part1-left h2,.part1-right h2{
    margin-bottom: 20px;
}
.part1-left li,.part1-right li{
    list-style-type: disclosure-closed;
    line-height: 30px;
}
.part1 .special{
    margin-bottom: 30px;
}
.other-room-main .other-room{
    display: flex;
    justify-content: space-between;
}
.other-room h2{
    text-align: left;
    margin-bottom: 0px;
}
.other-room-main h2{
    text-align: left;
    margin: 15px 0px 0px;
    font-size: 15px;
}
.other-room-left img,.other-room-right img{
    border-radius: 7px;
    box-shadow: 5px 5px 10px;
}
.review-main{
    margin: 50px 20px 5px 5px;
    border: 1px solid rgb(234, 229, 229);
    height: auto;   
    display: flex;
    padding: 10px 50px;
    border-radius: 10px;
}
.review{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}
.review .review-detail{
    display: flex;
    width: 100%;
}
.review .review-detail img{
    border-radius: 50%;
}
.review .review-detail p{
    margin-top: 20px;
}
.review .review-detail div{
    width: 100%;
    margin-left: 20px;
}
.review h1{
    margin: 15px 0px;
}
.review .reply input{
    border: 1px solid grey;
    opacity: .25;
    border-top: none;
    border-left: none;
    border-right: none;
}
.review .reply textarea{
    border: 1px solid rgb(199, 192, 192);
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.comment-btn{
    width: 18%;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 13px;
    margin: 50px 0px;
    background-color: black;
    cursor: pointer;
    color: white;
}
.post-btn{
    margin-top: 0px;
}
.reply .title-left{
    margin-bottom: 20px;
}






#right{
    width: 30%;
    height: 88vh;
    padding: 20px 50px;
    position: sticky;
    top: 100px;
    overflow: scroll;
    border: 1px solid rgb(95, 104, 99);
    border-radius: 10px;
    box-shadow: 10px 10px 30px;
}
.booking-room input{
    border: 1px solid grey;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
}
.booking-room select{
    border: 1px solid grey;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
}
.booking-room{
    width: 100%;
    padding: 10px 0px;
}
.booking-room .room{
    text-align: center;
}
.booking-room .room h1{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: black;
    padding: 20px 20px;
    border-radius: 15px;
    margin-bottom: 30px;    
    box-shadow: 10px 10px 40px rgb(199, 192, 192);
}
.booking-room label {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.booking-room .formControl{
    margin-bottom: 18px;
}
.extra h2 {
    text-align: center;
    margin: 20px 0px;
}
.extra div{
    display: flex;
    align-items: flex-start;
}
.extra .extra-check {
    width: auto;
    height: 28px;
}
.extra span{
    margin-left: 10px;
    width: 100%;
}
.extra .price{
    display: block;
    text-align: end;
    margin-top: 40px;
}
.extra .price p:nth-child(1){
    font-size: 25px;
    margin: 0;
}
.extra h2{
    text-align: left;
}
.book-btn{
    width: 50%;
    padding: 15px 20px;
    font-size: 15px;
    margin-top: 15px;
    background-color: black;
    cursor: pointer;
    color: white;
    margin-left: 25%;
    border-radius: 10px;
}